.app {
  text-align: center;
  color: dimgray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
}

.svg {
  margin: 1em;
  outline: 1px solid dimgray;
  overflow: visible;
}

.titleBar {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.title {
  font-size: calc(10px + 2vmin);
  padding: 1em;
}

.legend {
  padding: 1em;
}

.controls {
  text-align: center;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.buttonContainer {
  padding: 0.5em;
}

.button {
  padding: 1em;
  font-size: 0.5em;
  font-weight: bold;
  border-style: solid;
  background-color: white;
  color: dimgray;
  border-radius: 12px;
  -webkit-transition-duration: 0.4s; /* Safari */
  transition-duration: 0.2s;
}

.buttonSelected {
  padding: 1em;
  font-size: 0.5em;
  font-weight: bold;
  border-style: solid;
  background-color: tomato;
  color: white;
  border-radius: 12px;
}

.buttonPrevious {
  padding: 1em;
  font-size: 0.5em;
  font-weight: bold;
  border-style: solid;
  background-color: dodgerblue;
  color: white;
  border-radius: 12px;
}

.button:hover {
  border-style: solid;
  background-color: tomato;
  color: white;
}

.xAxis {
  font-size: 0.5em;
}

.yAxis {
  font-size: 0.5em;
}
